  
  body {
	background-color:#990000;
	height: 100px;
	width:50%;
	text-align: center-right;
}
div .ham{
	background-color:#ffffff;
		margin-left: 15%;
		border:1px solid #d9d9d9;
		height:100px;
		width:50%;
}
p {
	font-family:Times New Roman;
	font-size:23px;
	color:#1a0000;
}
.kira a {
	float:left;
	color:#f2f2f2;
	text-align:center;
	justify-content:space-between;
	padding:35px 50px;
	font-size:25px;
}
.kira a:hover {
	background-color:#ddd;
	color:black;
}
.kira a.active {
	background-color:#04AA6D;
	color:white;
}